.cover-wrapper {
  position: relative;
  overflow: hidden;
  /* background-color: #031f31; */
}

.div-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.div-title {
  display: inline-block;
}

.div-title i {
  font-size: 2em;
}

.div-title h2 {
  margin: 0;
}

.div-title hr {
  border-top: 2px solid;
  margin: 0.5rem 0;
}
